## User settings
xcuserdata/

## Build folders
build/
DerivedData/

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# macOS
.DS_Store

# User settings
*.swp
*.swo
*.orig
*.log
*.tmp

